{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex flex-wrap-reverse justify-content-center">
    <div  style="max-width: 450px; margin-top: 20px; margin-bottom: 20px; ">
        <img src="https://images.pexels.com/photos/5582141/pexels-photo-5582141.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="..." style="max-height:640px;">
        
    </div>





    

    <div style="max-width: 450px; margin-top: 20px; margin-bottom: 20px;">


        
        <div  class="p-3 mb-2 bg-dark text-white" >
            <h2>CREATE ACCOUND</h2>
    
            <form action="" method="POST" > 
                <!-- enctype="multipart/form-data" -->
                {% csrf_token %}
                {{ form|crispy }}
                
                <button type="submit" class="btn btn-success">Sing Up</button>
            </form>
        </div>
        
    </div>
</div>
{% endblock content %}
    