{% extends 'base.html' %}


{% block content %}

    
        
        <h1> {{ obj.title }} </h1>
        
        

        <img src="{{obj.image.url}}" alt="">

        <p> {{ obj.content }} </p>

    
    {% if user.id == obj.author.id  %}
    <a href="{% url 'blog:update' obj.slug %}" >
        <button type="button">update</button>
    </a>
        
    {% endif %}
        
        
        <a href="{% url 'blog:list' %}" > CANCEL</a>

        <div>
            <form action="" method="POST" >
                {% csrf_token %}
                {{ form }}
                <button type="submit">Comment</button>
            </form>
        </div>

        <div>
            
            {% for i in obj.text_comments %}
                <!-- <p>commented by  {{i.user}}</p> -->
                <p>commented by  {{user.username}}</p>
                <h5>{{ i.content }}</h5>
                <p>commented at  {{i.time_stamp}}</p>
            {% endfor %}
                

        </div>

        <div>
            <form action="{% url 'blog:like' obj.slug %}" method="POST">
               {% csrf_token %}
                <input type="hidden" name="post">
                <input type="hidden" name="user">
                <button type="submit">LIKE</button>{{obj.like_count}}
                
            </form>
        </div>
    
{% endblock  %}
    